{
  "Actions": [
    {
      "Name": "LeftClick",
      "KeyboardCode": "MOUSE1",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "RightClick",
      "KeyboardCode": "MOUSE2",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Reset",
      "KeyboardCode": "R",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Tab",
      "KeyboardCode": "TAB",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "FreeCamera",
      "KeyboardCode": "V",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Chat",
      "KeyboardCode": "ENTER",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Voice",
      "KeyboardCode": "V",
      "GamepadCode": "None",
      "GroupName": "Other"
    }
  ],
  "__guid": "43ee6e87-4f53-470f-887c-0e5268924669",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}